@import "@fortawesome/fontawesome-free/css/all.min.css";
/* @import 'bootstrap'; */
@import "jquery-ui-dist/jquery-ui.css";
@import './global.css';

/* .front_end {
    margin: 0 !important;
    padding: 0 !important;
}

.front_end .row,
.front_end .col-12 {
    margin: 0 !important;
    padding: 0 !important;
} */

